build/
*.tmp
/.nb-gradle/
/RiippuvuuksienInjektointi1/.nb-gradle/
/RiippuvuuksienInjektointi1/.gradle/
/NhlStatistics1/.nb-gradle/
/NhlStatistics1/.gradle/
/gradle-harjoitus/.gradle/
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1/.gradle/
/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/.gradle/
/WebLogin/.nb-gradle/
/WebLogin/.gradle/
/MockitoDemo/.nb-gradle/
/MockitoDemo/.gradle/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/.gradle/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/.gradle/
/Tennis/.nb-gradle/
/Tennis/.gradle/
/Laskin/.nb-gradle/
/Laskin/.gradle/
/QueryLanguage/.nb-gradle/
/QueryLanguage/.gradle/